
.container-md{
   border: 15px green solid;
    box-shadow: 5px 10px #a4d596;
    border-radius: 40px;
    padding: 15px;
   background-size: cover;
    margin-top: 25px;
}
img{
    border-radius: 65%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 30%
}
.form-check-input{
    padding-right: 10px;
}