<p class="whatsUp">
    What's on your mind?
</p>
<img class="lightBulb" alt="ideabulb"src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTLZY2j2Y90qvr3boQr59rUCcx9shv9qTxit1wOh7meNqRLh9y0&usqp=CAU">
<form>
    <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="First name">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Last name">
        </div>
      </div>
    <div class="form-group">
    <br>    
      <label for="exampleFormControlInput1">Email address</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    
    
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Message</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
      </div>
  </form>