img{
    border-radius: 10px;
    width: 100%;
    height: auto;
    border:5px rgb(170, 235, 154) solid;

}

.message{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1rem;
    color: rgb(52, 162, 29);
    text-align: center;
    border: 3px green solid;
    border-radius: 10px;
    margin: auto;
    width: 50%;
    background-color: rgb(231, 253, 235);
    margin-top: -100px;
    position: relative;
}


