<img src="assets/img/team+building.jpeg">

<div class="row">
    <div class="login-form col-sm-4 offset-sm-4">
      <h5>Log into ERP System</h5>
      <input class="form-control" [(ngModel)]="email" name="loginEmail" type='email'  placeholder="Email">
      <input class="form-control" [(ngModel)]="password" name="loginPassword" type='text' placeholder="Password">
      
      <div *ngIf="loginError" class="alert alert-danger">
        Wrong credentials, please retry!
      </div>

      <button (click)="login()" class="btn btn-info">Sign in</button>
    </div>
</div>

